body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  /* font-size: 562.5%; */
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

hr {
  border-style: none;
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

p {
    line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
  font-weight: normal;
}

.intro {
  width: 30%;
  margin: auto;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.code-image {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  margin-top: 60px;
}

.copyright {
  font-family: 'Merriweather', serif;
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}

.tennis-image {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999D);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999D);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999D);
  background-image: -o-linear-gradient(top, #11CDD4, #11999D);
  background-image: linear-gradient(to bottom, #11CDD4, #11999D);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
